@using online_event_booking_system.Data.Entities
@model IEnumerable<ApplicationUser>

<h1>This is the Admin Dashboard page</h1>

<table class="table table-striped">
	<thead>
		<tr>
			<th>Name</th>
			<th>Email</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var user in Model)
		{
			<tr>
				<td>@user.FullName</td>
				<td>@user.Email</td>
			</tr>
		}
	</tbody>
</table>
